<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
<!--声明了一个appender 日志的关联器-->
	<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>localhost:5000</destination>
<!--		<encoder>-->
<!--		    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
<!--		    <charset>UTF-8</charset>-->
<!--		</encoder>-->
<!--        它会把我们的日志的信息转换成json格式传出去，方便我们后面来解析。-->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<root level="INFO">
		<appender-ref ref="LOGSTASH" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>